{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h1>The editorial
    <small>carrefully prepared by your friends</small>
</h1>
<p class="text-right">{{ articles | length }} articles today.</p>
{% for article in articles %}
<div class="row">
    <h1>{{ article.title }}</h1>
    <div class="col-md-4">
        <div>
            <img src="{{ article.top_img }}" alt="article.title" class="img-thumbnail">
        </div>

        <div>
            {% if article.authors %}
            <h4>Authors</h4>
            <div class="row">
                {% for author in article.authors %}
                <div class="col-md-4">{{ author.author.author }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <h4>Link</h4>
            <a href="{{ article.url }}">{{ article.url }}</a>
        </div>


    </div>
    <div class="col-md-6">
        <p>{{ article.summary }}</p>
        <p class="text-justify">{{ article.text|linebreaksbr|truncatewords:200 }} <a href="{{ article.url }}">Read the
            article.</a></p>
    </div>

    <div class="col-md-2">
        {% if article.sharings %}
        <p>{{ article.sharings }} sharings</p>
        {% endif %}
        <span class="text-success">{% if article.score %}(score: {{ article.score }}){% endif %}</span>
    </div>
</div>
{% endfor %}
{% endblock %}