<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNewspaper - {% block title %}{% endblock %}</title>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        body {
            margin-top: 100px
        }
    </style>

</head>
<body>
{% bootstrap_messages %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SocialNewspaper</a>
        </div>
        <ul class="nav navbar-nav">
            <li {% if request.resolver_match.url_name==
            'home' %}class="active"{% endif %}>
            <a href="/">Home</a>
            </li>
            <li {% if request.resolver_match.url_name==
            'print_articles' %}class="active"{% endif %}>
            <a href="{% url 'print_articles' %}">Articles</a>
            </li>
            <li {% if request.resolver_match.url_name==
            'share_article' %}class="active"{% endif %}>
            <a href="{% url 'share_article' %}">Share Article</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <!--<li>Connected, {{ user.username }}</li>-->
            <li><a href="/logout/"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
            {% else %}
            <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>